extensions:
    # Nettrine
    # Nettrine - dbal
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension(%consoleMode%)

    nettrine.orm: Nettrine\ORM\DI\OrmExtension(%consoleMode%)
    nettrine.orm.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension


nettrine.orm:
	managers:
		default:
			connection: default
			entityManagerDecoratorClass: App\Infrastructure\Database\EntityManagerDecorator
			autoGenerateProxyClasses: true
			mapping:
				App\Infrastructure\Database\Entity:
					type: attributes
					directories: [%appDir%/Infrastructure/Database/Entity]
					namespace: App\Infrastructure\Database\Entity

nettrine.migrations:
	connection: default
	manager: default
	directories:
		Database\Migrations: %rootDir%/database/Migrations

nettrine.dbal:
  debug:
    panel: %debugMode%
    sourcePaths: [%appDir%]