<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party songbattle</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <style>
        .filter-input-pair {
            max-height: 500px;
            width: 400px;
            overflow: auto;

            border: 1px solid #000;
            margin: 10px;
        }
    </style>

    <style>
        .statistics-wrapper {
            width: 400px;
            max-height: 400px;

            overflow-y: scroll;
            text-align: left;

            .table {
                width: 400px;

                th {
                    text-overflow: ellipsis;
                    max-width: 150px;
                    text-wrap-mode: nowrap;
                    overflow: hidden;
                }
            }
        }
    </style>
</head>

<body>
    {include content}
</body>

</html>