<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party songbattle</title>

    <style>
        .filter-input-pair {
            max-height: 500px;
            width: 400px;
            overflow: auto;

            border: 1px solid #000;
            margin: 10px;
        }
    </style>
</head>

<body>
    {include content}
</body>

</html>