services:
    # Repositories
    - App\Infrastructure\Database\Repository\AlbumRepository
    - App\Infrastructure\Database\Repository\ArtistRepository
    - App\Infrastructure\Database\Repository\TrackRepository

    # External clients
    - App\Infrastructure\ExternalClient\SpotifyExternalClient(%spotify.auth.accessToken%)

    # Imports
    - App\Infrastructure\Import\Playlist\SpotifyPlaylistImport

    # Commands
    - App\Commands\Spotify\SpotifyConnectWizardCommand(
        %spotify.app.clientId%,
        %spotify.app.clientSecret%,
        %spotify.app.redirectUri%
    )

    - App\Commands\Import\SpotifyPlaylistImportCommand

    # Routing ================
    - App\Model\Router\RouterFactory
    router:
        type: Nette\Application\IRouter
        factory: @App\Model\Router\RouterFactory::create
search:
#    -
#        in: %appDir%/Api/Controller
#        classes:
#            - *Controller
#    -
#        in: %appDir%/Api/Facade
#        classes:
#            - *Facade
#    -
#        in: %appDir%/Command
#        classes:
#            - *Command