services:
    # Game
    - App\Model\Game\GameFactory
    - App\Model\Game\GameFilterOptionsProvider
    - App\Model\Game\GameSessionManager
    - App\Model\Game\GameStateProvider

    # Statistics
    - App\Model\Statistics\StatisticsProvider

    # Genres
    - App\Model\Genre\GenreAssigner
    - App\Model\Genre\GenreConsolidator

    # Forms
    - App\UI\Forms\GameFormFactory

    # Repositories
    - App\Infrastructure\Database\Repository\AlbumRepository
    - App\Infrastructure\Database\Repository\ArtistRepository
    - App\Infrastructure\Database\Repository\TrackRepository
    - App\Infrastructure\Database\Repository\TagRepository
    - App\Infrastructure\Database\Repository\GenreRepository
    - App\Infrastructure\Database\Repository\GameRepository
    - App\Infrastructure\Database\Repository\GameTrackRepository
    - App\Infrastructure\Database\Repository\GamePlayerRepository
    - App\Infrastructure\Database\Repository\GameGuessRepository

    # Api / Facades
    - App\Api\Facade\Game\GameFacade

    # Api / Controllers
    - App\Api\Controller\V1\Public\Game\GameController
    - App\Api\Controller\V1\Public\Config\SpotifyConfigController(
        %spotify.app.clientId%,
        %spotify.app.redirectUri%
      )

    # External clients
    - App\Infrastructure\ExternalClient\SpotifyExternalClient(%spotify.auth.accessToken%)
    - App\Infrastructure\ExternalClient\MusicBrainzExternalClient

    # Imports
    - App\Infrastructure\Import\Playlist\SpotifyPlaylistImport
    - App\Infrastructure\Import\Track\MusicBrainzTrackTagsImport
    - App\Infrastructure\Import\Artist\MusicBrainzArtistCountryImport

    # Commands
    - App\Commands\Spotify\SpotifyConnectWizardCommand(
        %spotify.app.clientId%,
        %spotify.app.clientSecret%,
        %spotify.app.redirectUri%
    )

    - App\Commands\Import\SpotifyPlaylistImportCommand
    - App\Commands\Import\MusicBrainzArtistCountryImportCommand
    - App\Commands\Import\MusicBrainzTrackTagsImportCommand
    - App\Commands\Import\ConsolidateTrackGenresCommand
    - App\Commands\Track\GenerateTrackNameArtistNameHashesCommand

    # Routing ================
    - App\Model\Router\RouterFactory
    router:
        type: Nette\Application\IRouter
        factory: @App\Model\Router\RouterFactory::create
search:
#    -
#        in: %appDir%/Api/Controller
#        classes:
#            - *Controller
#    -
#        in: %appDir%/Api/Facade
#        classes:
#            - *Facade
#    -
#        in: %appDir%/Command
#        classes:
#            - *Command